<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%p] %d (%F,%L) %m%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="/mnt/log/huobi.log" filePattern="/mnt/log/huobi-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>[%p] %d (%F,%L) %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="16 MB"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="org.springframework.beans.factory" level="INFO"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>